<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
The intent with this app is to provide a space to store the names of your favourite songs in such a way that you could link to them all over the web.

Really, this is just an excuse for me to write my first web app :)
</p>
